<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <!--    <meta charset="UTF-8">-->
    <meta charset="UTF-8"language="java" >
    <title>Title</title>
</head>
<body>
<h1 th:text="${tablename}">CARS</h1>
<div>
    <table border="4" width="75%">
        <tr>
            <td>Name</td>
            <td>Series</td>
            <td>Number</td>
        </tr>

        <tr th:each="car : ${messages}">
            <td th:text="${car.getName()}"></td>
            <td th:text="${car.getSeries()}"></td>
            <td th:text="${car.getNumber()}"></td>
        </tr>

    </table>
</div>
</body>
</html>